alpaca-trade-api
pandas
polars
pyarrow
requests
numpy
scipy
scikit-learn
torch
exchange_calendars
tqdm
python-dateutil
pandas_market_calendars
transformers
peft
bitsandbytes
joblib
pydantic
psutil
huggingface_hub
ib_insync
# chronos
